.njsLoginScreen {
	top: 1%;
	border-radius: 8px;
	background-color: lightsteelblue;
	.checkIcon {
		&.valid {
			color: green;
		}
		&.invalid {
			color: red;
		}
	}
	.signInLabel {
		padding-right: 5px;
	}
	.media-object {
		height: 64px;
		width: 64px;
	}
}