<div class="njsLoginScreen container col-lg-12 vpan12">
	<div class=" container col-lg-3 vpan5 col-lg-offset-4 voffset1">
		<div class="media loginContainer">
			<a class="pull-left" href="#/">
				<div class="media-object logo">
				</div>
			</a>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">${i18n('login')}</h3>
			</div>
			<div class="panel-body" role="form">
				<div class="input-group col-lg-12">
					<div class="input-group-addon">@</div>
					<input class="form-control" type="text" value="${userName}" data-ninejs-attach="userNameText" placeholder="${i18n('userName')}" />
					<div class="input-group-addon">
						<span class="checkIcon glyphicon glyphicon-exclamation-sign invalid" data-ninejs-attach="userNameIcon"></span>
					</div>
				</div>
				<div class="row col-lg-12">
				</div>
				<div class="input-group col-lg-12">
					<div class="input-group-addon">
						<span class="glyphicon glyphicon-lock"></span>
					</div>
					<input class="form-control" type="password" value="" data-ninejs-attach="passwordText" placeholder="${i18n('password')}" />
					<div class="input-group-addon">
						<span class="checkIcon glyphicon glyphicon-exclamation-sign" data-ninejs-attach="passwordIcon"></span>
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<div class="btn-group col-lg-offset-7">
					<div class="btn btn-default disabled">
						<span class="glyphicon checkIcon glyphicon-exclamation-sign invalid" data-ninejs-attach="loginIcon"></span>
					</div>
					<button class="btn btn-default" data-ninejs-attach="loginButton">
						<span class="signInLabel">${i18n('signIn')}</span>
						<span class="glyphicon glyphicon-play"></span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>